/* reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables de color al root */
:root {
  --negro: #000;
  --blanco: #fff;
}

/* fuentes y smooth scroll */
body {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

/* tamaño fuente del logo */
.logo-text {
  font-size: larger;
}

/* ajustando imagenes del carousel */
.carousel-item img {
  width: 100%;
  overflow: hidden;
  object-fit: fill;
}

/* justificando texto de párrafos */
.articulos p {
  text-align: justify;
}

/* modificando tamaño de bloques celestes */
.bloque-celeste {
  height: 40px;
}

/* ajustando tamaño de cards */
.cont-card {
  width: 20rem;
}

/* modificando tamaño de img de cards */
.card img {
  height: 130px;
}

/* ajustando color de fuentes de cards */
.card {
  color: var(--blanco);
}

/* ajustando color de fuentes */
.contacto {
  color: var(--blanco);
}

/* estableciendo estilos de footer */
footer {
  height: 85px;
  color: var(--blanco);
  font-weight: 100;
}

/* cambiando efectos por defecto de anchor */
footer a a:link,
a:visited,
a:active {
  text-emphasis: none;
  text-decoration: none;
  color: var(--blanco);
}
