* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --negro: #000;
  --blanco: #fff;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo-text {
  font-size: larger;
}

.carousel-item img {
  width: 100%;
  overflow: hidden;
  object-fit: fill;
}

.articulos p {
  text-align: justify;
}

.bloque-celeste {
  height: 40px;
}

.cont-card {
  width: 20rem;
}

.card img {
  height: 130px;
}

.card {
  color: var(--blanco);
}
